.button {
  display: inline-block;
  padding-block: 17px;
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #333136;
  width: 152px;
  background-color: #fff;
  text-transform: uppercase;
}
