.get-in-touch {
  margin: 0 auto;
  width: 87.2%;
  padding: 64px 24px;
  text-align: center;
  background-color: #e7816b;
  border-radius: 15px;
}

.heading {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.125;
  color: #fff;
}

.description {
  margin-bottom: 32px;
  color: #fff;
  line-height: 1.67;
}
