.header {
  container: header / inline-size;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 24px 34px;
  background-color: #fff;
}

@container header (min-width: 768px) {
  .header-menu {
    padding: 64px 40px;
  }
}
